<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">


	<bean id="valueBean" class="cn.tedu.spring.entity.ValueBean">
			<property name="tagValue" value="#{collectionEntity.tag}"></property>
			<property name="nameValue" value="#{collectionEntity.names[2]}"></property>
			<property name="cityValue" value="#{collectionEntity.cities[3]}"></property>
			<property name="usernameValue" value="#{collectionEntity.session.username}"></property>
			<property name="passwordValue" value="#{collectionEntity.session['password']}"></property>
	</bean>
	
	<bean id="collectionEntity" class="cn.tedu.spring.entity.CollectionEntity">
		<property name="tag" value="CollectionEntity"></property>
		<property name="names">
			<list>
				<value>Jack</value>
				<value>Rose</value>
				<value>LiLei</value>
				<value>HanMM</value>
			</list>
		</property>
		<property name="cities">
			<set>
				<value>BeiJing</value>
				<value>ShangHai</value>
				<value>GuangZhou</value>
				<value>ShenZhen</value>
			</set>
		</property>
		<property name="session">
			<map>
				<entry key="username" value="admin"></entry>			
				<entry key="password" value="123456"></entry>
				<entry key="from" value="HangZhou"></entry>
			</map>
		</property>
	</bean>

	<bean id="" class="cn.tedu.spring.entity.CollectionEntity">
		<property name="names" ref="n"></property>
	</bean>
	<util:list id="n">
		<value>Tom</value>		
		<value>Jerry</value>
	</util:list>
</beans>











